/*----------------Initialisation--------------------*/
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
     }
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    }
/*-------------------------------------------------*/
body {
    display: flex;
    /* on défini la direction de l'axe principal comme étant vertical */
    flex-direction: column;
   /* width: 100vw; */
}

/*.menu {
    position: fixed;
    top: 0;
    right: 0;
   
}*/

/* les conteneurs div autour de chaque section */
.global {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    min-width: 100%;
    min-height: 100vh;
    /* border: 1px solid #aaa; */
}

.global section,
.global header,
.global footer {
    display: flex;
    flex: 0 1 1000px;
    /* border: 1px solid #aaa; */
    /* rendre la couleur plus foncé, ajoute du noir */
    background-color: rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .5);

}

.global section {
    flex-direction: column;
}

#entete {
   /* background-color: rgb(68, 0, 255); */
   background-image: linear-gradient(90deg, #f00, #00f);
    min-height: 1vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#entete header {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* permet de definir le referentiel pour le menu */
    position: relative;
}

#menu {
    background-color: aqua;
}

#accueil {
    background-color: rgb(255, 0, 72);
}

#inscription {
    background-color: violet;
}

#tableau {
    background-color: rgb(94, 255, 0);
}

#articles {
    background-color: rgb(251, 255, 0);
}

#galerie {
    background-color: rgb(255, 85, 0);
}

#video {
    background-color: rgb(81, 78, 103);
}

#piedpage {
    background-color: rgb(255, 0, 212);
}

h1{
    font-size: clamp(2.25rem, -0.0417rem + 7.3333vw, 5rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: clamp(1.75rem, 0.0833rem + 5.3333vw, 3.75rem);
    margin-top: 10vh;
}